<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="/ranking.css" rel="stylesheet">
</head>

<body>

    <nav>
        <h4>Memory card game</h4>
        <% if (user) { %>
            <ul>
                Zalogowany jako <%= user.username %>
                    <li>
                    <li><a href="/levelChoice">Gra</a></li>
                    <li>
                    </li>
                    <a href="/auth/wyloguj" style="color:crimson">Wyloguj</a>
            </ul>
            <% } else { %>
                <ul>
                    <li><a href="/logowanie">Logowanie</a></li>
                    <li><a href="/rejestracja">Rejestracja</a></li>
                </ul>
                <% } %>
    </nav>

    <% if (!room) { %>
        <div id="wholeLobby">
            <div id="createRoom">
                <label for="roomName">Room Name</label>
                <input type="text" id="roomName" name="roomName">
                <button id="cr-btn" class="btn btn-primary">Create room</button>
            </div>

            <div id="lobbyDiv">
                <!-- wczytywanie pokoi -->
            </div>
        </div>

        <%} else { %>
            <!-- Pokój do 4 osób z czatem i przyciskiem start/wyjdz-->
            <div classs="playersDiv">
                <p id='room_name'></p>
                <p id='player1'></p>
                <p id='player2'></p>
                <p id='player3'></p>
                <p id='player4'></p>
                <button id="leave-btn">Leave</button>
            </div>
            <% } %>


                <!-- jQuery first, then Tether, then Bootstrap JS. -->
                <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                    integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                    crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                    crossorigin="anonymous"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="../utils.js"></script>
<script>
    let socket = io()
    socket.on('connect', function (data) {
        socket.emit('lobbySetup')
    });
    socket.on('disconnect', function (data) {

    });



    //=========================================================================================LOBBY=======================================================================================================
    let rooms = '<%- JSON.stringify(rooms) %>';
    rooms = JSON.parse(rooms)
    //multiplayer
    if (rooms && rooms != 'null') {
        let crBtn = document.getElementById('cr-btn');
        crBtn.addEventListener("click", async (event) => {
            let roomName = { roomName: document.getElementById('roomName').value };
            console.log(roomName)
            let response = await fetch('/auth/createRoom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(roomName)
            });
            const resData = await response.json();
            console.log(resData)
            if (resData.status != 'success') {
                window.location.replace('/multiplayer')
            }
            else {
                socket.emit('joinRoom', { jwt: getCookie('jwt'), room_id: resData.room_id })
                window.location.replace('/multiplayer/' + resData.room_id);
            }
        })

        //aktualizujemy pokoje po otrzymaniu brodcasta
        let lobbyDiv = document.getElementById("lobbyDiv")
        socket.on('lobbyChange', function (data) {
            while (lobbyDiv.firstChild) {
                lobbyDiv.removeChild(lobbyDiv.firstChild)    
            }
            console.log('lobbyChange', data)
            for (var i = 0; i < data.length; i++) {
                var lobby = document.createElement("div");
                var btn = document.createElement("button");
                btn.id = "join" + data[i]._id;
                btn.dataset.room_id = data[i]._id;
                btn.dataset.player_amount = data[i].player_amount;
                btn.innerText = "join"
                lobby.id = "lobby" + data[i]._id;
                lobby.innerText = "Room: " + data[i].room_name + "\nPlayers: " + data[i].player_amount + "/4";
                document.getElementById("lobbyDiv").appendChild(lobby);
                document.getElementById("lobbyDiv").appendChild(btn);
                btn.addEventListener("click", async (event) => {
                    let roomInfo = { "roomId": btn.dataset.room_id, "playerAmount": btn.dataset.player_amount };
                    let response = await fetch('/auth/joinRoom', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(roomInfo)
                    });
                    const resData = await response.json();
                    if (resData.status != 'success') {
                        window.location.replace('/multiplayer')
                    }
                    else {
                        socket.emit('joinRoom', { jwt: getCookie('jwt'), room_id: roomInfo.roomId })
                        window.location.replace('/multiplayer/' + resData.room_id);
                    }
                })
            }
        })

        //tworzymy pokoje
        for (var i = 0; i < rooms.length; i++) {
            var lobby = document.createElement("div")
            var btn = document.createElement("button");
            btn.id = "join" + rooms[i]._id;
            btn.dataset.room_id = rooms[i]._id;
            btn.dataset.player_amount = rooms[i].player_amount;
            btn.innerText = "join"
            lobby.id = "lobby" + rooms[i]._id;
            lobby.innerText = "Room: " + rooms[i].room_name + "\nPlayers: " + rooms[i].player_amount + "/4"
            document.getElementById("lobbyDiv").appendChild(lobby);
            document.getElementById("lobbyDiv").appendChild(btn);
            btn.addEventListener("click", async (event) => {
                let roomInfo = { "roomId": btn.dataset.room_id, "playerAmount": btn.dataset.player_amount };
                let response = await fetch('/auth/joinRoom', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(roomInfo)
                });
                const resData = await response.json();
                if (resData.status != 'success') {
                    window.location.replace('/multiplayer')
                }
                else {
                    socket.emit('joinRoom', { jwt: getCookie('jwt'), room_id: roomInfo.roomId })
                    window.location.replace('/multiplayer/' + resData.room_id);
                }
            })
        }
    }

    //==========================================================================================POJEDYNCZE POKOJE=====================================================================================
    var room = '<%- room %>';
    var player_amount = '<%- player_amount %>';
    //multiplayer/room_id = 
    if (room && room != 'null') {
        socket.emit('roomSetup', { room_id: room });
        socket.on('joinRoom', data => {
            console.log('joinRoom', data)
            //aktualizacja graczy w pokoju po otrzymaniu broadcasata (socket)
            for (var i = 1; i < 5; i++) {
                var x = document.getElementById('player' + i);
                if (data['player' + i]) {
                    if (data['player' + i]._id == data.leader) {
                        x.innerHTML = data['player' + i].username + ' LIDER'
                        //dodac korone czy cos by bylo wiadomo ze jest zalozycielem
                    }
                    else {
                        x.innerHTML = data['player' + i].username;
                    }
                }
                else {
                    x.innerHTML = null;
                }
            }
        })


        //gracze w pokoju
        var players = '<%- JSON.stringify(players) %>';
        players = JSON.parse(players);
        document.getElementById('room_name').innerHTML = "Room name: " + players.room_name;
        for (var i = 1; i < 5; i++) {
            var x = document.getElementById('player' + i);
            if (players['player' + i]) {
                if (players['player' + i]._id == players.leader) {
                    x.innerHTML = players['player' + i].username + ' LIDER'
                    //dodac korone czy cos by bylo wiadomo ze jest zalozycielem
                }
                else {
                    x.innerHTML = players['player' + i].username;
                }
            }
        }

        //przycisk leave
        let leave = document.getElementById('leave-btn');
        leave.addEventListener("click", async (event) => {
            let leaveInfo = { "room": room }
            let res = await fetch('/auth/leaveRoom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(leaveInfo)
            });
            socket.emit('leaveRoom', { jwt: getCookie('jwt'), room_id: room })
            window.location.replace('/multiplayer')
        })
    }

</script>

</html>