<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="/ranking.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding-bottom: 3rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        #chatForm {
            background: rgba(0, 0, 0, 0.15);
            padding: 0.25rem;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            height: 3rem;
            box-sizing: border-box;
            backdrop-filter: blur(10px);
        }

        #chatInput {
            border: none;
            padding: 0 1rem;
            flex-grow: 1;
            border-radius: 2rem;
            margin: 0.25rem;
        }

        #chatInput:focus {
            outline: none;
        }

        #chatForm>button {
            background: #333;
            border: none;
            padding: 0 1rem;
            margin: 0.25rem;
            border-radius: 3px;
            outline: none;
            color: #fff;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages>li {
            padding: 0.5rem 1rem;
        }

        #messages>li:nth-child(odd) {
            background: #efefef;
        }
    </style>
</head>

<body>

    <nav>
        <h4>Memory card game</h4>
        <% if (user) { %>
            <ul>
                Zalogowany jako <%= user.username %>
                    <li>
                    <li><a href="/levelChoice">Gra</a></li>
                    <li>
                    </li>
                    <a href="/auth/wyloguj" style="color:crimson">Wyloguj</a>
            </ul>
            <% } else { %>
                <ul>
                    <li><a href="/logowanie">Logowanie</a></li>
                    <li><a href="/rejestracja">Rejestracja</a></li>
                </ul>
                <% } %>
    </nav>

    <% if (!room) { %>
        <div id="wholeLobby">
            <div id="createRoom">
                <label for="roomName">Room Name</label>
                <input type="text" id="roomName" name="roomName">
                <button id="cr-btn" class="btn btn-primary">Create room</button>
            </div>

            <div id="lobbyDiv">
                <!-- wczytywanie pokoi -->
            </div>
        </div>

        <%} else { %>
            <!-- Pokój do 4 osób z czatem i przyciskiem start/wyjdz-->
            <div classs="playersDiv">
                <p id='room_name'></p>
                <p id='player1'></p>
                <p id='player2'></p>
                <p id='player3'></p>
                <p id='player4'></p>
                <button id="leave-btn">Leave</button>
            </div>
            <!-- chat -->
            
            <ul id="messages"></ul>
            <form id="chatForm" action="">
                <input id="chatInput" autocomplete="off" /><button>Send</button>
            </form>

            <% } %>


                <!-- jQuery first, then Tether, then Bootstrap JS. -->
                <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                    integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                    crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                    crossorigin="anonymous"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="../utils.js"></script>
<script>
    async function fetchJoinRoom(roomInfo) {
        let response = await fetch('/auth/joinRoom', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(roomInfo)
        });
        return response.json()
    }


    let socket = io()
    socket.on('connect', function (data) {
        if (room && room != null) {
            socket.emit('roomSetup', { room_id: room })
        }
        else {
            socket.emit('lobbySetup')
        }
    });
    socket.on('disconnect', function (data) {

    });


    //=========================================================================================LOBBY=======================================================================================================
    let rooms = '<%- JSON.stringify(rooms) %>';
    rooms = JSON.parse(rooms)


    if (rooms && rooms != 'null') {
        let crBtn = document.getElementById('cr-btn');
        crBtn.addEventListener("click", async (event) => {
            let roomName = { roomName: document.getElementById('roomName').value };
            let response = await fetch('/auth/createRoom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(roomName)
            });
            const resData = await response.json();
            if (resData.status != 'success') {
                window.location.replace('/multiplayer')
            }
            else {
                socket.emit('joinRoom', { jwt: getCookie('jwt'), room_id: resData.room_id })
                window.location.replace('/multiplayer/' + resData.room_id);
            }
        })

        //aktualizujemy pokoje po otrzymaniu brodcasta
        let lobbyDiv = document.getElementById("lobbyDiv")
        socket.on('lobbyChange', function (data) {
            while (lobbyDiv.firstChild) {
                lobbyDiv.removeChild(lobbyDiv.firstChild)
            }
            console.log('lobbyChange', data)
            for (let i = 0; i < data.length; i++) {
                let lobby = document.createElement("div");
                let btn = document.createElement("button");
                btn.id = "join" + data[i]._id;
                btn.dataset.room_id = data[i]._id;
                btn.dataset.player_amount = data[i].player_amount;
                btn.innerText = "join"
                lobby.id = "lobby" + data[i]._id;
                lobby.innerText = "Room: " + data[i].room_name + "\nPlayers: " + data[i].player_amount + "/4";
                document.getElementById("lobbyDiv").appendChild(lobby);
                document.getElementById("lobbyDiv").appendChild(btn);

                btn.addEventListener("click", async (event) => {
                    let roomInfo = { "roomId": btn.dataset.room_id, "playerAmount": btn.dataset.player_amount };
                    const resData = await fetchJoinRoom(roomInfo);
                    if (resData.status != 'success') {
                        window.location.replace('/multiplayer')
                    }
                    else {
                        socket.emit('joinRoom', { jwt: getCookie('jwt'), room_id: roomInfo.roomId })
                        window.location.replace('/multiplayer/' + resData.room_id);
                    }
                })
            }
        })

        //tworzymy pokoje
        for (let i = 0; i < rooms.length; i++) {
            let lobby = document.createElement("div")
            let btn = document.createElement("button");
            btn.id = "join" + rooms[i]._id;
            btn.dataset.room_id = rooms[i]._id;
            btn.dataset.player_amount = rooms[i].player_amount;
            btn.innerText = "join"
            lobby.id = "lobby" + rooms[i]._id;
            lobby.innerText = "Room: " + rooms[i].room_name + "\nPlayers: " + rooms[i].player_amount + "/4"
            document.getElementById("lobbyDiv").appendChild(lobby);
            document.getElementById("lobbyDiv").appendChild(btn);

            btn.addEventListener("click", async (event) => {
                let roomInfo = { "roomId": btn.dataset.room_id, "playerAmount": btn.dataset.player_amount };
                const resData = await fetchJoinRoom(roomInfo);
                if (resData.status != 'success') {
                    window.location.replace('/multiplayer')
                }
                else {
                    socket.emit('joinRoom', { jwt: getCookie('jwt'), room_id: roomInfo.roomId })
                    window.location.replace('/multiplayer/' + resData.room_id);
                }
            })
        }
    }

    //==========================================================================================POJEDYNCZE POKOJE=====================================================================================
    let room = '<%- room %>';
    let player_amount = '<%- player_amount %>';
    //multiplayer/room_id?= 
    if (room && room != 'null') {
        // socket.emit('roomSetup', { room_id: '1' });
        socket.on('joinRoom', data => {
            console.log('joinRoom', data)
            //aktualizacja graczy w pokoju po otrzymaniu broadcasata (socket)
            for (let i = 1; i < 5; i++) {
                let x = document.getElementById('player' + i);
                if (data['player' + i]) {
                    if (data['player' + i]._id == data.leader) {
                        x.innerHTML = data['player' + i].username + ' LIDER'
                        //dodac korone czy cos by bylo wiadomo ze jest zalozycielem
                    }
                    else {
                        x.innerHTML = data['player' + i].username;
                    }
                }
                else {
                    x.innerHTML = null;
                }
            }
        })

        //chat setup
        let form = document.getElementById('chatForm');
        let input = document.getElementById('chatInput');
        let messages = document.getElementById('messages');
        let user = '<%- user.username %>';
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input.value) {
                let chatInput = { value: input.value, room_id: room, user: user }
                socket.emit('newChatMessage', JSON.stringify(chatInput));
                input.value = '';
            }
        });

        socket.on('newChatMessage', function (msg) {
            let item = document.createElement('li');
            item.textContent = msg.user + ": " + msg.value;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });



        //gracze w pokoju
        let players = '<%- JSON.stringify(players) %>';
        players = JSON.parse(players);
        document.getElementById('room_name').innerHTML = "Room name: " + players.room_name;
        for (let i = 1; i < 5; i++) {
            let x = document.getElementById('player' + i);
            if (players['player' + i]) {
                if (players['player' + i]._id == players.leader) {
                    x.innerHTML = players['player' + i].username + ' LIDER'
                    //dodac korone czy cos by bylo wiadomo ze jest zalozycielem
                }
                else {
                    x.innerHTML = players['player' + i].username;
                }
            }
        }

        //przycisk leave
        let leave = document.getElementById('leave-btn');
        leave.addEventListener("click", async (event) => {
            let leaveInfo = { "room": room }
            let res = await fetch('/auth/leaveRoom', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(leaveInfo)
            });
            socket.emit('leaveRoom', { jwt: getCookie('jwt'), room_id: room })
            window.location.replace('/multiplayer')
        })
    }

</script>

</html>